#root h1 { text-align: center; color:rgb(48, 44, 51); margin-top:30px; font-size: 1rem; text-transform: uppercase; }
.card { width:50%; margin: 0 25%; text-align: center; border: 1px solid #ccc;}
#root .card {background-color:transparent; color:#fff; }
.card .fa { margin: 25px 0;}
.card-body { background:rgba(197, 214, 255, 0.1);}
body, html { 
    /* fallback */
    background-color: #1a82f7; 
    background-repeat: repeat-y;
  
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#1a82f7), to(#2F2727));
  
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #2F2727, #1a82f7);
  
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #2F2727, #1a82f7);
  
    /* IE 10 */
    background: -ms-linear-gradient(left, #2F2727, #1a82f7);
  
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #2F2727, #1a82f7);
   
}